---
export interface Props {
  className?: string;
}
const { className = '' } = Astro.props;
---

<p
  class=`first:mt-0 mt-4 font-sans	text-lg leading-8 text-slate-300 text-justify ${className}`
>
  <slot />
</p>
