---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import ContentTitle from '../components/typography/ContentTitle.astro';
import ContentBody from '../components/typography/ContentBody.astro';
import ContentParagraph from '../components/typography/ContentParagraph.astro';
import Hero from '../components/Hero.astro';
import SocialIcons from '../components/SocialIcons.astro';
import Experience from '../components/Experience.astro';
import IconArrowRight1 from '../components/icons/IconArrowRight1.astro';
import Badge from '../components/Badge.astro';

const experiences = await getCollection('experience');
experiences.sort((a, b) => (a.data.yearStart < b.data.yearStart ? 1 : -1));

const skills = await getCollection('skills');
skills.sort((a, b) => (a.data.order > b.data.order ? 1 : -1));

const expStartYear = experiences.reduce(
  (acc, cur) => (cur.data.yearStart < acc ? cur.data.yearStart : acc),
  Number.MAX_VALUE,
);

const socialLinks = [
  {
    href: 'https://www.linkedin.com/in/vitalii-denysenko-1b1a3b3b/',
    text: 'Linkedin',
  },
  {
    href: 'https://github.com/hardx-87',
    text: 'Github',
  },
  {
    href: 'https://www.facebook.com/vitaliy.denisenko.58',
    text: 'Facebook',
  },
];
---

<Layout title='Home' pageName='home'>
  <Hero>
    <a
      href='#blog'
      class='inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-gray-700 bg-gray-100 rounded-full bg-gray-800 text-white hover:bg-gray-200 hover:bg-gray-700'
      role='alert'
    >
      <span
        class='text-xs bg-primary-600 rounded-full text-white px-4 py-1.5 mr-3'
      >
        Heads up!</span
      >
      <span class='text-sm font-medium'>See what's new in blog</span>
      <IconArrowRight1 />
    </a>
    <h1
      class='mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl text-white'
    >
      Frontend Engineer's portfolio
    </h1>
    <p
      class='mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48'
    >
      I've been writing and shipping software since {expStartYear}. This
      portfolio website is a quintessence of my experience with facts, not
      opinions.
    </p>
    <div
      class='px-4 mx-auto text-center md:max-w-screen-md lg:max-w-screen-lg lg:px-36'
    >
      <span class='font-semibold text-gray-400 uppercase'>FEATURED IN</span>
      <SocialIcons items={socialLinks} />
    </div>
  </Hero>
  <div
    class='max-w-[540px] sm:max-w-[604px] md:max-w-[720px] lg:max-w-[972px] xl:max-w-full xl:px-12 2xl:max-w-[1400px] mx-auto'
  >
    <div class='sm:mx-auto sm:max-w-4xl px-6 lg:px-8 mt-8 sm:mt-8'>
      <ContentTitle>Summary</ContentTitle>
      <ContentBody>
        <ContentParagraph>
          Hi! My name is Vitalii Denysenko. I am a Frontend Engineer based in
          Warsaw, Poland. I help companies delivering hiqh quality products.
          I've been operating as a Tech Lead for last 8 years. I turn great
          ideas into great execution. I have experience on building winning
          small-mid size teams.
        </ContentParagraph>
        <ContentParagraph>I grow as a T-shaped person.</ContentParagraph>
        <ContentParagraph>
          I rely on discipline more than motivation.
        </ContentParagraph>
        <ContentParagraph>
          I'm the one who stays calm in a crisis.
        </ContentParagraph>
        <ContentParagraph>
          Reach out to me if you are interested in cooperation.
        </ContentParagraph>
      </ContentBody>
    </div>
    <div
      class='flex flex-col space-between sm:mx-auto sm:max-w-4xl sm:flex-row'
    >
      <div class='shrink-0 px-6 lg:px-8 mt-8 sm:mt-8'>
        <ContentTitle>Experience</ContentTitle>
        <ContentBody>
          <Experience
            items={experiences.map((exp) => ({
              start: exp.data.yearStart,
              end: exp.data.yearEnd,
              company: exp.data.company,
              position: exp.data.position,
              now: exp.data.now,
            }))}
          />
        </ContentBody>
      </div>
      <div class='px-6 lg:px-8 mt-8 mb-2 sm:my-8'>
        <ContentTitle>Skillset</ContentTitle>
        <ContentBody>
          {
            skills.map((s) => (
              <div class='flex flex-wrap mb-5'>
                {s.data.skills.map((s) => (
                  <Badge type='gray' text={s} />
                ))}
              </div>
            ))
          }
        </ContentBody>
      </div>
    </div>
  </div>
</Layout>
