---
import { getCollection } from 'astro:content';
import IconLinkedin from './icons/IconLinkedin.astro';
import IconGithub from './icons/IconGithub.astro';
import IconFacebook from './icons/IconFacebook.astro';
import IconArrowRight1 from './icons/IconArrowRight1.astro';

const allExperiences = await getCollection('experience');

const expStartYear = allExperiences.reduce(
  (acc, cur) => (cur.data.yearStart < acc ? acc : cur.data.yearStart),
  0,
);
---

<section class='bg-neutral-900'>
  <div class='py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12'>
    <a
      href='#blog'
      class='inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-gray-700 bg-gray-100 rounded-full bg-gray-800 text-white hover:bg-gray-200 hover:bg-gray-700'
      role='alert'
    >
      <span
        class='text-xs bg-primary-600 rounded-full text-white px-4 py-1.5 mr-3'
      >
        Heads up!</span
      >
      <span class='text-sm font-medium'>See what's new in blog</span>
      <IconArrowRight1 />
    </a>
    <h1
      class='mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl text-white'
    >
      Software Engineer's portfolio
    </h1>
    <p
      class='mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 text-gray-400'
    >
      I've been writing and shipping software since {expStartYear}. This
      portfolio website is a quintessence of my experience with facts, not
      opinions.
    </p>
    <div
      class='px-4 mx-auto text-center md:max-w-screen-md lg:max-w-screen-lg lg:px-36'
    >
      <span class='font-semibold text-gray-400 uppercase'>FEATURED IN</span>
      <div
        class='flex flex-wrap justify-center items-center mt-8 text-gray-500 sm:justify-between'
      >
        {
          [
            { href: '#linkedin', icon: <IconLinkedin />, text: 'Linkedin' },
            { href: '#github', icon: <IconGithub />, text: 'Github' },
            { href: '#facebook', icon: <IconFacebook />, text: 'Facebook' },
          ].map((item) => (
            <a
              href={item.href}
              class='mr-5 mb-5 lg:mb-0 hover:text-gray-400 flex gap-x-4 items-center'
            >
              {item.icon}
              <p class='font-semibold text-lg'>{item.text}</p>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</section>
