---
import type { NavLinkProps as Props } from "../types/types";

const { url, text, active, className } = Astro.props;
---

<a
    href={url}
    class:list={{
        "bg-gray-900 text-white": active,
        "text-gray-300 hover:bg-gray-700 hover:text-white": !active,
        [className]: true,
    }}
    {...(active ? { 'aria-current': 'page' } : {})}
>
    {text}
</a>
