---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';

const allCaseStudies = await getCollection('case_studies');
allCaseStudies.sort((a, b) =>
  new Date(a.data.end) < new Date(b.data.end) ? 1 : -1,
);
---

<Layout title='Case Studies' pageName='case_studies'>
  <div
    class='max-w-[540px] sm:max-w-[604px] md:max-w-[720px] lg:max-w-full xl:px-12 2xl:max-w-[1400px] mx-auto'
  >
    <div class='mx-auto max-w-7xl px-0 sm:px-6 lg:px-8 my-8'>
      <div class='grid grid-cols-1 sm:grid-cols-2 sm:grid-gap-6 gap-10 w-full'>
        {
          allCaseStudies.map((caseStudy) => (
            <div class='flex flex-col shadow hover:shadow-md w-full rounded-lg overflow-hidden'>
              <a
                href={`${import.meta.env.BASE_URL}case_studies/${
                  caseStudy.slug
                }`}
                class='link flex flex-col items-center h-full border border-gray-600 rounded-lg shadow lg:flex-row lg:w-xl hover:bg-neutral-900'
              >
                {caseStudy.data.images.length > 0 && (
                  <div class='sm:h-48 sm:w-full lg:w-48 lg:h-full lg:shrink-0'>
                    <Image
                      class='link-img object-cover h-full w-full rounded-t-lg lg:rounded-none lg:rounded-l-lg'
                      src={caseStudy.data.images[0]}
                      quality='low'
                      alt='Cover'
                    />
                  </div>
                )}
                <div class='flex flex-col justify-between p-4 leading-normal'>
                  <h5 class='mb-2 text-2xl font-bold tracking-tight text-slate-200'>
                    {caseStudy.data.name}
                  </h5>
                  <p class='font-normal text-gray-500'>
                    {caseStudy.data.client != null
                      ? caseStudy.data.client
                      : caseStudy.data.project}
                  </p>
                </div>
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Layout>

<style>
  .link:hover {
    /* eslint-disable-astro/no-unused-css-selector */
    .link-img {
      opacity: 0.9;
    }
  }
</style>
